<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursales">
    <insert id="registrar" parameterType="pojos.Sucursal">
        INSERT INTO sucursal (nombre, direccionCalle, direccionNumero, cp, colonia, ciudad, telefono, latitud, 
        longitud, nombreEncargado, idEmpresa) VALUES (#{nombre}, #{direccionCalle}, #{direccionNumero}, #{cp},
        #{colonia}, #{ciudad}, #{telefono}, #{latitud}, #{longitud}, #{nombreEncargado}, #{idEmpresa})       
    </insert>
    <update id= "actualizar" parameterType="pojos.Sucursal" >
        UPDATE sucursal SET 
        nombre = #{nombre},
        direccionCalle = #{direccionCalle},
        direccionNumero = #{direccionNumero}, 
        cp = #{cp}, 
        colonia = #{colonia}, 
        ciudad = #{ciudad}, 
        telefono = #{telefono}, 
        latitud = #{latitud}, 
        longitud = #{longitud }, 
        nombreEncargado = #{nombreEncargado}, 
        idEmpresa = #{idEmpresa}
        WHERE idSucursal = #{idSucursal}
    </update>
    <delete id="eliminar" parameterType="int">
        DELETE FROM sucursal WHERE idSucursal = #{idSucursal}
    </delete>
    <select id="getSucursal" resultType="pojos.Sucursal" parameterType="pojos.Sucursal" >
        SELECT idSucursal, sucursal.nombre, sucursal.direccionCalle, sucursal.direccionNumero,sucursal.cp, 
        colonia, sucursal.ciudad, sucursal.telefono,
        latitud,longitud,sucursal.nombreEncargado,
       empresa.nombre AS empresa ,sucursal.idEmpresa FROM sucursal INNER JOIN empresa ON sucursal.idEmpresa = empresa.idEmpresa
        WHERE sucursal.nombre = #{nombre} OR sucursal.direccionCalle = #{nombre}
    </select>
    <select id="getSucursalEmpresa" resultType="pojos.Sucursal" parameterType="int" >
         SELECT idSucursal, sucursal.nombre, sucursal.direccionCalle, sucursal.direccionNumero,sucursal.cp, 
        colonia, sucursal.ciudad, sucursal.telefono,
        latitud,longitud,sucursal.nombreEncargado,
       empresa.nombre AS empresa ,sucursal.idEmpresa FROM sucursal INNER JOIN empresa ON sucursal.idEmpresa = empresa.idEmpresa
        WHERE empresa.idEmpresa= #{idEmpresa} 
    </select>
    
    <select id="getAll" resultType="pojos.Sucursal">
        SELECT idSucursal, sucursal.nombre, sucursal.direccionCalle, sucursal.direccionNumero,sucursal.cp, 
        colonia, sucursal.ciudad, sucursal.telefono,
        latitud,longitud,sucursal.nombreEncargado,
       empresa.nombre AS empresa ,sucursal.idEmpresa FROM sucursal INNER JOIN empresa ON sucursal.idEmpresa = empresa.idEmpresa
    </select>
    <select id="sucursalNombre" parameterType="pojos.Sucursal" resultType="pojos.Sucursal">
         SELECT sucursal.idSucursal FROM sucursal WHERE sucursal.nombre = #{nombre}
    </select>
</mapper>
